:root {
    /* colors */
    --darkblue: rgb(14, 35, 78); 
    --lightblue: rgb(196, 248, 255);

    --extraLarge: 4.768rem;
    --large: 3.815rem;
    --h1: 3.052rem;
    --h2: 2.441rem;
    --h3: 1.953rem;
    --h4: 1.563rem;
    --h5: 1.25rem;
    --h6: 1rem;
    --small: 0.8rem;
    --extraSmall: 0.64rem;

    /* default theme */
    --color0: rgb(245, 253, 255);
    --color1: rgb(224, 255, 253);
    --color2: rgb(185, 240, 237);
    --color3: rgb(119, 197, 193);
    --color4: rgb(254, 239, 255);
    --color5: rgb(107, 84, 121);
   
}