:root {
    /* font sizes */
    --extraLarge: 4.768rem;
    --large: 3.815rem;
    --h1: 3.052rem;
    --h2: 2.441rem;
    --h3: 1.953rem;
    --h4: 1.563rem;
    --h5: 1.25rem;
    --h6: 1rem;
    --small: 0.8rem;
    --extraSmall: 0.64rem;

    /* first theme */
    --color0: rgb(190, 253, 255); 
    --color1: rgb(208, 252, 250);
    --color2: rgb(41, 41, 41, 40%); 
    --color13: rgb(41, 41, 41, 70%); 
    --color3: rgb(51, 51, 51);
    --color4: rgb(61, 61, 61, 40%);
    /* second theme */
    --color12: rgb(73, 119, 131);
    --color14: rgb(44, 89, 100);
    --color11: rgb(73, 247, 180);

    --color6:rgb(238, 106, 243);
    --color7: rgb(105, 238, 145);
    --color8:rgb(129, 241, 227);
    --color9: rgb(202, 103, 241);
    --color10: rgb(255, 181, 243);

    
    
}